@import "@bryntum/scheduler/fontawesome/css/fontawesome.css";
@import "@bryntum/scheduler/fontawesome/css/solid.css";
@import "@bryntum/scheduler/scheduler.css";
@import "@bryntum/scheduler/svalbard-light.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

#scheduler {
    margin         : 0;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
    font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
    font-size      : 14px;
}
